/aCmmLib/x64
/aCmmLib/Debug
/aCmmLib/Release
/CurlWrapLib/x64
/CurlWrapLib/Debug
/DbBackupConfig/Release
/DbBackupConfig/Debug
/Debug
/EncryptLib/Debug
/EncryptLib/Release
/eSQLiteInf/Release
/eSQLiteInf/Debug
/Install/Release
/Install/Debug
/ipch
/iPrintableDocumentDeal/Release
/iPrintableDocumentDeal/Debug
/iSecCloudDocHelper/GeneratedFiles
/ISecDBHelper/Release
/ISecDBHelper/Debug
/iSecFtpSvr/Release
/iSecFtpSvr/Debug
/log4zLib/Release
/log4zLib/Debug
/mfcexetest/Release
/PackMacPrinterClient/Release
/PackMacPrinterClient/Debug
/PrintFileTest/Release
/PrintFileTest/Debug
/PrintHelper/Release
/PrintHelper/Debug
/Public/Release
/Public/Debug
/Release
/Win32
/x64
/ZLibWrapLib/Debug
/ZLibWrapLib/Release
/vs2015PackPrj.VC.db
/.vs/vs2015PackPrj/v14
/iSecModuleHost/Release
/rabbitmq-c/build/CMakeFiles/3.14.3/CompilerIdC/Debug
/rabbitmq-c/build/.vs/rabbitmq-c/v14/*.suo
/rabbitmq-c/build/rabbitmq-c.VC.db
